/* Overall */

.section{
    height: 100vh;
    scroll-snap-align: start;
}
/* Navbar Component */
.logo{
    width: 70px
}

/* HomePage Area*/


/* Carousel Section */
.carousel-home{
    position: relative;
    height: 50vh;
}



/* Blog Component Area */
.card-group{
    margin-left: 150px;
    margin-right: 150px;
}
.blog{
    overflow-y: hidden;
    overflow-x: hidden;
}


/* Footer Area */
.footer-image{
    width: 120px;
    height: 50px;
    margin-left: 40px;
}